/* General Styles */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
}

/* Header Styles */
header {
  background: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  border-bottom: 2px solid #ff6f61;
}
header img{
  height:auto;
  width: 100px;
}

header h1 {
  margin: 0;
  font-size: 2.5em;
}

header ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}

header ul li {
  margin: 0 10px;
}

header ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2em;
}

header ul li a:hover { 
  color: #ff6f61;
}

/* Container Styles */
#container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 20px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
} 

/* Content Styles */
#content h2 {
  color: #333;
  font-size: 2em;
  margin-top: 0;
}

#content p {
  font-size: 1.1em;
  line-height: 1.8;
  margin: 10px 0;
}

/* Footer Styles */
footer {
  text-align: center;
  padding: 20px;
  background: #333;
  color: #fff;
  position: fixed;
  width: 100%;
  bottom: 0;
}

/* Media Queries */
@media (max-width: 768px) {
  header ul {
      flex-direction: column;
  }
  
  header ul li {
      margin: 10px 0;
  }
}
